body {
  background-color: #fff;
  font-family: sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}

#circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: white;
  border: solid 1px black;
  position: absolute;
  left: 650px;
  top: 100px;
}

#phaserDiv {
  position: absolute;
  left: 0px;
  top: 0px;
}

#blocklyDiv {
  position: absolute;
  left: 400px;
  top: 0px;
  width: 400px;
  height: 600px;
  z-index: 0;
}

#resetButton{
	position: absolute;
	z-index:1;
	background: rgb(235, 12, 12);
}
#resetButton::after{
	border: 1px solid rgb(235, 12, 12);
}

#backButton{
	position: absolute;
	z-index: 1;
	background: rgb(8, 37, 206);
}
#backButton::after{
	border: 1px solid rgb(8, 37, 206);
}

#executeButton {
  position: absolute;
  z-index: 1;
  color: #fff;
  background: #40C659;
}
#executeButton::after{
	border: 1px solid #40C659;
}

#pauseButton {
  position: absolute;
  left: 500px;
  top: 550px;
  z-index: 1;
  background: #ff7700;
}
#pauseButton::after{
	border: 1px solid #ff7700;
}

.circle_button{
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	color: #fff;
}
.circle_button:hover {
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	transition: transform .3s;
	transform-origin: center;
	transform: scale(0.9, 0.9);
	opacity: 0.7;
}
.circle_button::after {
    display: inline-block;
    content: "";
    width: 49px;
    height: 49px;
    position: absolute;
	border-radius: 50%;
	color:#fff;
	top: -0.5px;
	left: -0.5px;

	transition: transform .5s ease;
}
.circle_button:hover::after {
	cursor: pointer;
	text-decoration: none;
	transition: transform .5s ease;
	transform-origin: center;
	transform: scale(1.4, 1.4);
	opacity: 0.7;
	visibility: visible;
}

/* title button */
.title-box {
	background-color: #00E1FF;
	width: auto;
	height: auto;
}
.title-button {
	line-height: 50px;
	height: auto;
	text-align: center;
	width: auto;
	cursor: pointer;
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.title-button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.1);
	transition: all 0.3s;
}
.title-button:hover::before {
	opacity: 0;
	transform: scale(0.5, 0.5);
}
.title-button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255, 255, 255, 0.5);
	transform: scale(1.2, 1.2);
}
.title-button:hover::after {
	opacity: 1;
	transform: scale(1, 1);
}

/* accordion */
.accordion-check {
	display: none;
}
.accordion-label {
	background-color: #333333;
	color: #fff;
	display: block;
	width: auto;
	height: auto;
	margin-bottom: 1px;
	padding: 10px;
}
.accordion-content {
	border: 1px solid #333;
	height: 0;
	opacity: 0;
	padding: 0 10px;
	transition: 0.5s;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.accordion-check:checked + .accordion-label + .accordion-content {
	height: auto;
	max-height: 1980px;
	opacity: 1;
	padding: 10px;
	visibility: visible;
}

/* message box */
.message-box-text {
	overflow-y: scroll;
	height: 85px;
}
.message-box {
	width: auto;
	height: 100%;
	z-index: 2;
	background: #fff0cd;
	box-shadow: 0px 0px 0px 5px #fff0cd;
	border: dashed 2px white;
	padding: 0.2em 0.5em;
	color: #454545;
}

.message-box:after {
	position: absolute;
	content: '';
	right: -7px;
	top: -7px;
	border-width: 0 15px 15px 0;
	border-style: solid;
	border-color: #ffdb88 #fff #ffdb88;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}